
{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/login.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
{{ super() }}
  <h1>Register</h1>
  {% if error%}
  <p style="color: tomato;">{{error}}</p>
  {% endif %}

  <form method="POST">
    <div>
        <label for="fullname">Fullname:</label>
        <input type="fullname" id="fullname" name="fullname" required>

    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required>
    </div>
    
    <input type="submit" value="Sign Up">
  </form>  
{% endblock %}