{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/article.css')}}">
  
{% endblock %}
{% block title %}Articles | Draft{% endblock %}



{% block body %}
{{ super() }}
  
{% if edited_article %}
<p>The name and city cannot be edited!</p>
<form method="post">
  <h2>Your Post:</h2>
  <div>
    <input type="text" name="name" id="name" placeholder="Name..">
  </div>
<div>
  <div>
      <input type="text" name="city" id="city" placeholder="City..">
    </div>
  
  <div>
    <textarea type="text" name="title" id="title" rows="1" cols="30" >{{edited_article.title}}</textarea>
  </div>

  <div>
    <label for="thumbnail">Thumbnail</label><br>
    <input type="file" name="thumbnail" id="thumbnail" >
  </div>
  <div>
      <textarea name="content" rows="30" cols="70">{{edited_article.content}}</textarea>
  </div>
    <input type="submit" value="save changes">
   
</form>
<form method="post" action="/posts/delete" >
  <input type="hidden" value="{{edited_article.id}}" name="id">
  <button type="submit" >DELETE</button>
</form>
{% else %}
<h3>Draft</h3>
<form method="post">
  <h2>Your Post:</h2>
  <div>
    <input type="text" name="name" id="name" value="By {{ current_user.fullname }}" disabled>
  </div>
<div>
  <div>
      <input type="text" name="city" id="city" placeholder="City..">
    </div>
  
  <div>
    <textarea type="text" name="title" id="title" rows="1" cols="30" >Title</textarea>
  </div>

  <div>
    <label for="thumbnail">Thumbnail</label><br>
    <input type="file" name="thumbnail" id="thumbnail" >
  </div>
  <div>
      <textarea name="content" rows="30" cols="70" id="text_content" placeholder="Tell us your story..."></textarea>

  </div>
    <p id="word-count">0 words</p>
    <input type="submit" value="Publish">
</form>

{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>

{% endblock %}
