<!--  -->

{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{{ super() }}
<main>
  <div>
    <h1>Otherwise!!!</h1>
    <a href="{{ url_for('posts.get_posts') }}">New Article</a>

  </div>
    
    <ul id="articles">
        {% for article in articles_pagination.items %}
        <li >
            <h3><a href="{{ url_for('articles.index', slug= article.slug) }}">{{article.slug}}</a>
            <h4>{{article.title}}</h4>
            <img src="{{ url_for('static', filename=article.thumbnail) }}">
            <p>{{article.content}}</p>
            
        </li>
        
        
        {% endfor %}

    </ul>



</main>
<nav>
    {% if articles_pagination.prev_num %}
      <a href="{{ url_for('articles.index', page=articles_pagination.prev_num) }}">Previous Page</a>
    {% else %}
      <span>Previous Page</span>
    {% endif %}
    <span> - </span>
    {% if articles_pagination.next_num %}
      <a href="{{ url_for('articles.index', page=articles_pagination.next_num) }}">Next Page</a>
    {% else %}
      <span>Next Page</span>
    {% endif %}
  </nav>
 
{% endblock %}




<!--  -->