<!--  -->

{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css')}}">
  
  
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{{ super() }}
<main>
    <div id="articles">
      {% for article in articles_pagination.items %}
      <article  article_id="{{article.id}}">
      <div class="thumbnail">
        <img src="{{ url_for('static', filename=article.thumbnail) }}">
        <a href="{{ url_for('articles.show', slug= article.slug) }}"><button class="read">READ MORE</button></a>
      </div>
      <div class="titleContent">
      <h4 class="title">{{article.title}}</h4>
      <p id="indexParagraph" hidden>{{article.content}}</p> 
      </div>
    </article>
    {% endfor %}
      
    </div>

</main>
<nav>
    {% if articles_pagination.prev_num %}
      <a href="{{ url_for('articles.index', page=articles_pagination.prev_num) }}">Previous Page</a>
    {% else %}
      <span>Previous Page</span>
    {% endif %}
    <span> - </span>
    {% if articles_pagination.next_num %}
      <a href="{{ url_for('articles.index', page=articles_pagination.next_num) }}">Next Page</a>
    {% else %}
      <span>Next Page</span>
    {% endif %}
  </nav>
 
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>




<!--  -->