<!DOCTYPE html>
<html lang="en">
    {%block head%}
<head>
   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    
</head>
{%endblock%}
<body>
 {%block body%}
 <header>
  <div id="logo" ><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" ></div>
  <ul>
    <li><a href="{{ url_for('articles.index')}}">Home</a></li>
    <li><a href="{{ url_for('posts.get_posts') }}">Write</a></li>
    <li><a href="{{ url_for('users.get_login')}}">Login</a></li>
    <li><a href="{{ url_for('users.get_register')}}">
          <button id="Started">Get Started</button>
      </a></li>  
  </ul>
</header>

 
 {%endblock%}
    
</body>

<footer>
    <hr>
    {% if current_user.is_authenticated %}
      <small>
        Logged in as {{ current_user.fullname }}.
        <a href="{{ url_for('users.logout') }}">Logout</a>
      </small>
    {% endif %}
  </footer>
</html>