<!DOCTYPE html>
<html lang="en">
    {%block head%}
<head>
   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
    
</head>
{%endblock%}
<body>
 {%block body%}
 <header>
    <nav>
    
        <ul>
            <li><a href="{{ url_for('articles.index')}}">Home</a></li>
            <li><a href="{{ url_for('Simple_pages.login')}}">Login</a></li>
            <li><a href="{{ url_for('Simple_pages.signup')}}">
                <button>Get Started</button>
            </a></li>

            
        </ul>
    </nav>

</header>

 
 {%endblock%}
    
</body>
</html>